.main {
  margin: 10% 20%;
}

.main__display {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

@media screen and (max-width: 960px) {
  .main {
    margin: 0 5%;
  }

  .main__display {
    flex-direction: column;
  }
}

.display__first-column {
  flex-grow: 1;
}

.display__second-column {
  flex-grow: 1;
}
