.main__stats {
  background-color: #a4a4a4;
}

.value__list {
  list-style-type: none;
  /* border: 1px solid white; */
  margin: 5px 0;
  padding: 5px 2px;
}

.is-colored {
  background-color: rgb(107, 107, 213);
}

.is-not-colored {
  background-color: white;
}

.stats-wrapper {
  display: flex;
}

.stats-wrapper__stat-list {
  padding: 0;
  flex-grow: 1;
  flex-basis: 0;
}

.stat-list__value {
  padding: 0 10px;
}
