.stats__value--animation {
  animation: slide-up 1s cubic-bezier(0.65, -0.34, 0.6, 1.12);
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
