.bold--text {
  font-weight: bold !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.d-flex {
  display: flex;
}

.gap-10 {
  gap: 10px;
}

.justify-center {
  justify-content: center;
}

.bug--background {
  background-color: rgb(168, 184, 32, 0.2) !important;
}

.dark--background {
  background-color: rgb(112, 88, 72, 0.2) !important;
}

.dragon--background {
  background-color: rgba(112, 56, 248, 0.2) !important;
}

.electric--background {
  background-color: rgba(248, 208, 48, 0.2) !important;
}

.fairy--background {
  background-color: rgba(238, 153, 172, 0.2) !important;
}

.fighting--background {
  background-color: rgba(192, 48, 40, 0.2) !important;
}

.fire--background {
  background-color: rgba(240, 128, 48, 0.2) !important;
}

.flying--background {
  background-color: rgba(168, 144, 240, 0.2) !important;
}

.ghost--background {
  background-color: rgba(112, 88, 152, 0.2) !important;
}

.grass--background {
  background-color: rgba(120, 200, 80, 0.2) !important;
}

.ground--background {
  background-color: rgba(224, 192, 104, 0.2) !important;
}

.ice--background {
  background-color: rgba(152, 216, 216, 0.2) !important;
}

.normal--background {
  background-color: rgba(198, 198, 167, 0.2) !important;
}

.poison--background {
  background-color: rgba(160, 64, 160, 0.2) !important;
}

.psychic--background {
  background-color: rgba(248, 88, 136, 0.2) !important;
}

.rock--background {
  background-color: rgba(184, 160, 56, 0.2) !important;
}

.steel--background {
  background-color: rgba(184, 184, 208, 0.2) !important;
}

.water--background {
  background-color: rgba(104, 144, 240, 0.2) !important;
}
